@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

:root {
  --bg-color: #f2e7d0;
  --logo-color: #dd6616;
  --card-front-color: #a668b6;
  --card-back-color: #a2b8d4;
  --card-back-fg-color: #1d1c1c;
  --control-bg-color: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Luckiest Guy", sans-serif;
  background-color: var(--bg-color);
}

.game-logo {
  color: var(--logo-color);
  font-size: 4rem;
}

.card {
  height: 100%;
  width: 100%;
  text-align: center;

  position: relative;
  perspective: 900px;
}

.card-face {
  border: solid 5px black;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  text-align: center;
  backface-visibility: hidden;
  position: absolute;
  transition: transform 1.5s;

  font-family: "Roboto", sans-serif;
  font-size: 7rem;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  /* transform-style: preserve-3d; */
}

.card-flipped {
  transform: rotateY(180deg);
}

.card-back {
  background-color: var(--card-back-color);
  color: var(--card-back-fg-color);
}

.card-front {
  background-color: var(--card-front-color);
}

.card-face-up-image {
  width: 100%;
  height: 100%;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 1rem;
  width: 1100px;
  margin: 0 auto;
}

.control-panel {
  /* border: solid 5px black;
  background-color: var(--control-bg-color);
  border-radius: 10px; */

  margin: 1rem;
  padding: 1rem;
}

.game-board {
  padding: 1rem;
  width: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr); /*.25fr;*/
  grid-gap: 5px;
  height: 100vh;
}

.game-board-hidden {
  font-size: 3rem;
}

.score-board-container h2 {
  font-size: 3rem;
}

.game-button {
  font-size: 2rem;
  font-family: "Luckiest Guy", sans-serif;
  background-color: #1dd61d;
  color: white;
  border-radius: 10px;
  border: solid 2px black;
  outline: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  display: block;

  /* margin: 5px 0; */
  margin: 5px auto;
}

.game-button:active {
  background-color: coral;
}

.game-over-dialog {
  width: 50%;
  border: solid 2px black;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  padding: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: white;
  text-align: center;
}

@media (max-width: 700px) {
  .container {
    width: 100%;
    height: 100vh;
    margin: 0;

    padding: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr;
    /* border: solid 1px green; */
  }
  .card-face {
    font-size: 3rem;
    border: solid 1px black;
  }
  .game-board {
    order: 1;
    height: 55vh;
    align-content: baseline;
    grid-template-rows: repeat(4, 75px);
    grid-template-columns: repeat(4, 75px);
    column-gap: 2px;
    row-gap: 2px;
    /* border: solid 1px blue; */
    overflow: hidden;
    padding: 0;
    margin: 0;
  }
  .control-panel {
    padding: 0;
    order: 2;
    height: 35vh;
    /* border: solid 1px red; */
    text-align: center;
  }

  .score-board-container {
  }
  .score-board-container h2 {
    font-size: 1.5rem;
  }

  .game-over-dialog {
    width: 95%;
  }
}
